<ul class="list-unstyled">
  <% posts.each do |post| %>
    <li class="media mb-3">
      
      <div class="border" style="padding:10px;">
      
      <img class="mr-2 rounded" src="<%= gravatar_url(post.user, { size: 40 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to post.user.name, user_path(post.user) %> <span class="text-muted">posted at <%= post.created_at %></span>
        </div>
        <div>
          <p class="mb-2"><%= post.content %></p>
        <div>
          <% if current_user == post.user %>
            <%= link_to post, method: :delete, data: { confirm: "本当に削除しますか？" } do %>
            <i class="fas fa-trash-alt" style="color: #696969;" ></i>
          <% end %>
          <% end %>
        </div>
        </div>
      </div>
      
      </div>
      
    </li>
  <% end %>
  <%= paginate posts %>
</ul>