<div class="text-center">
<h1>投稿編集画面</h1>
</div>
<br>
<div class="row">
  <div class="col-sm-6 offset-sm-3">

<%= form_for(@post, url: post_path(@post)) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
  <div>
    <div class="text-center"> 
      <%= image_tag @post.img_url if @post.img.present? %>
    </div>
    <br>
    <%= f.text_area :content, :rows => 6, class: 'form-control', :placeholder =>"#{@post.content}" %>
    <span style="font-size:5px;">※ 255文字以内で入力してください</span>
  </div>
  
  <div class = "text-right">
    <%= f.submit "更新する", class: "btn btn-primary" %></div>
<% end %>

  </div>
</div>  
